* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    color: #fff;
    /* background: #09001d ; */
    background: transparent ;
    overflow: hidden;
}

.main {
    min-height: 100vh;
    /* background: url(img/son.jpg) no-repeat; */
    background: transparent;
    background-size: cover;
    background-position: center;
    transition: .3s ease;
    pointer-events: auto;
}

.main.active {
    filter: blur(15px);
    pointer-events: auto;
}

.container {
    background: transparent;
    display: flex;
    height: 100vh;
    width: 200%;
}

.background-clip {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: -1;
}

@media (min-aspect-ratio:16/9) {
    .background-clip{
        width: 100%;
        height: auto;
    }
}

@media (max-aspect-ratio:16/9) {
    .background-clip{
        width: auto;
        height: 100%;
    }
}

audio {
    display: none;
}

.home {
    /* background: transparent; */
    position: relative;
    left: -50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-content .goMamXanh-btn {
    display: flex; /* Sử dụng flexbox */
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    margin-top: 10px;
}

.home-content h1 {
    font-size: 78px;
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0,0,0, .3);
}


.home-content p {
    font-size: 16px;
    text-align: center;
    text-shadow: 0 0 10px rgba(0,0,0, .3);
    margin-bottom: 30px;
}

.home-content .start-btn{
    width: 190px;
    height: 55px;
    background: green;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    box-shadow: 0 0 10px green;
    font-size: 18px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    transition: .5s;
}

.home-content .start-btn:hover {
    background: black;
    box-shadow: none;
}

.popup-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9); 
    width: 500px;
    background: #fff;
    border-radius: 6px;
    padding: 10px 25px;
    opacity: 0;
    pointer-events: none;
    transition: .3s ease;
}

.popup-info.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1); 
}

.popup-info h2 {
    font-size: 50px;
    color: red; 
}

.popup-info .info {
    display: inline-block;
    font-size: 16px;
    color: #333;
    font-weight: 500;
    margin: 4px 0;
}

.popup-info .btn-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #999;
    margin-top: 10px;
    padding: 15px 0 7px;
}

.popup-info .btn-group .info-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 45px; 
    background: green;
    border: 2px solid green;
    outline: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: .5s;
}
.popup-info .info-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 430px;
    height: 45px; 
    background: green;
    border: 2px solid green;
    outline: none;
    border-radius: 6px;
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: .5s;
}

.popup-info .info-btn {
    background: transparent;
    color: green;
}

.popup-info .info-btn:hover {
    background: green;
    color: #fff;
}

.popup-info .btn-group .info-btn:nth-child(1):hover {
    background: green;
    border-color: forestgreen;
}

.quiz-section {
    /* filter: blur(4px); */
    position: relative;
    left: -50%;
    /* left: 0; */
    width: 100%;
    /* background: #09001d; */
    /* background: url(https://i.redd.it/ao20kkkmte9b1.jpg) no-repeat; */
    /* background: url(https://www.shutterstock.com/image-illustration/lofi-empty-interior-messy-desk-600nw-2192764717.jpg) no-repeat; */
    background: url(https://wallpapercave.com/wp/wp4660149.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    transition: .8s ease-in-out;
    transition-delay: .25s;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz-section.active {
    left: 0;
}  

.quiz-section .quiz-box {
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
    position: relative;
    width: 500px;
    background: url(https://i.pinimg.com/originals/13/f1/f9/13f1f90c3a178c3e5abf767aa99af1e1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid green;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    padding: 20px 30px; 
    opacity: 0;
    pointer-events: none;
    transform: scale(.9);
    transition: .5s ease;
}

.quiz-section .quiz-box.active{
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
    transition-delay: 1s;
}
.quiz-box h1 {
    font-size: 32px;
    text-align: center;
    background: linear-gradient(45deg, transparent, green, transparent);
    border-radius: 6px;
}

.quiz-box .quiz-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    border-bottom: 2px solid green; 
    margin-bottom: 30px;
}

.quiz-header span {
    font-size: 18px;
    font-weight: 500;
}

.quiz-header .header-score {
    /* background: green; */
    border-radius: 3px;
    padding: 7px;
    background: linear-gradient(45deg, transparent, red, transparent);
}

.quiz-box .question-text {
    font-size: 24px;
    font-weight: 600;
    background: linear-gradient(45deg, transparent, black, transparent);
}

.option-list .option {
    width: 100%;
    padding: 12px;
    background: rgba(76, 175, 80, 0.3); 
    border: 2px solid rgba(0,255,127, .2);
    border-radius: 10px;
    font-size: 20px;
    margin: 15px 0;
    cursor: pointer;
    transition: .3s;
}

.option-list .option.correct {
    background: green;
    color: greenyellow;
    border-color: greenyellow;
}

.option-list .option.incorrect {
    background: firebrick; /* Màu xám nhạt cho nền */
    color: #fff; /* Màu đỏ đậm cho chữ */
    border-color: #fff; /* Màu đỏ đậm cho viền */
}

.option-list .option.disabled {
    pointer-events: none;
}

.option-list .option:hover {
    background: rgba(0,255,127, .1);
    border-color:rgba(0,255,127, .1);
}

.quiz-box .quiz-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid green;
    padding-top: 20px;
    margin-top: 25px;
}

.quiz-footer .question-total {
    font-size: 16px;
    font-weight: 600;
}

.quiz-footer .next-btn {
    width: 100px;
    height: 45px;
    background: rgba(0,255,127, .1);
    border: 2px solid rgba(0,255,127, .1);
    outline: none;
    border-radius: 20px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.3);
    font-weight: 600;
    cursor: pointer;
    pointer-events: none;
    transition: .5s;
}

.quiz-footer .back-btn {
    width: 100px;
    height: 45px;
    background: rgba(255, 0, 0, 0.5);
    border: 2px solid rgba(255, 0, 0, 0.5);
    outline: none;
    border-radius: 20px;
    font-size: 16px;
    color: whitesmoke;
    font-weight: 600;
    cursor: pointer;
    pointer-events: auto;
    transition: .5s;
}

.quiz-footer .back-btn:hover {
    background: rgba(200, 4, 4, 1);
    border-color: red;
    color: greenyellow;
}

.quiz-footer .next-btn.active:hover {
    color: #fff;
    background: green;
    border-color: green;
} 

.quiz-footer .next-btn.active {
    pointer-events: auto;
    background: greenyellow;
    border-color: greenyellow;
    color: black;
}

.clock {
    color: red;
    font-family: 'Arial', sans-serif;
    font-size: 100px;
    padding: 10px;
    border: 3px solid red;
    /* background-color: rgba(236, 240, 241, 0.3); */
    background: linear-gradient(45deg, transparent, whitesmoke, transparent);
    border-radius: 7px;
    display: inline-block;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.quiz-section .result-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.9);
    width: 500px;
    background: transparent;
    border: 2px solid #c40094;
    border-radius: 6px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: .3 ease;
}

.quiz-section .result-box.active {
    opacity: 1;
    pointer-events: auto;
    transform: translate(-50%, -50%) scale(1);
}
.result-box h2 {
    font-size: 52px;
}

.result-box .percentage-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 40px;
}

.result-box .circular-progress {
    position: relative;
    width: 250px;
    height: 250px;
    background: conic-gradient(#ff00bf 3.6deg, rgba(255, 255, 255, .1) 0deg);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.result-box .circular-progress::before {
    content: '';
    position: absolute;
    width: 210px;
    height: 210px;
    background: #09001d;
    border-radius: 50%;
}
.result-box .progress-value {
    position: relative;
    font-size: 45px;
    font-weight: 600;
}

.percentage-container .score-text {
    font-size: 26px;
    font-weight: 600;
    margin-top: 20px;
}

.result-box .buttons {
    display: flex;
}
.buttons button {
    width: 130px;
    height: 47px;
    background: #c40094;
    border: 2px solid #c40094;
    outline: none;
    border-radius: 6px;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin: 0 20px 20px;
    cursor: pointer;
    transition: .5s;
}

.buttons button:nth-child(1):hover {
    background: #c40094;
    border-color: #c40094;
}

.buttons button:nth-child(2) {
    background: transparent;
    color: #c40094;
}

.buttons button:nth-child(2):hover {
    background: #c40094;
    color: #fff;
}