{%for p in posts reversed%}
{% if p.is_active %}
<!-- Post preview-->
<div class="post-preview">
    <a href="/blog/{{p.url}}">
        <img src="{{p.image.url}}" class="responsive-img">
        <h2 class="post-title">{{p.title |truncatewords:50 | safe}}</h2>
        <h3 class="post-subtitle">{{p.preview_content |truncatewords:30 | safe}}</h3>
    </a>
    <p><br></p>
    <p class="post-meta">
        Được đăng bởi
        <a href="#!">{{p.author}}</a>
        vào {{p.add_date}}
    </p>
</div>
<!-- Divider-->
<hr class="my-4" />
{% endif %}
{%endfor %}